.container {
    display: flex;
    flex-direction: column;
    position: relative;
    place-items: start;
    top: 100px;
    right: 700px;
}

.container h1 {
    font-size: 4rem;
    color: #ffffff;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 30px;
    padding: 80px;
    justify-content: center;
}

.grid img {
    width: 250px;
    height: 250px;
    cursor: pointer;
    object-fit: contain;
    background-color: #272727;
    border-radius: 1rem;
    padding: 20px;
}

.grid img:hover {
    transform: scale(1.1);

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    z-index: 100;
    display: none;
}

.overlay.visible {
    display: block;
}

.highlight-img {
    position: fixed;
    z-index: 101;
    pointer-events: none;
    border-radius: 8px;
}

.popup {
    position: fixed;
    width: 33vw;
    max-width: 490px;
    max-height: 400px;
    overflow-y: auto;
    background: #1e1e1e;
    color: white;
    padding: 20px 10px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    z-index: 102;
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

.popup.visible {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.popup::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    z-index: 1;
}

.popup.right::after {
    left: -20px;
    top: 20px;
    border-right-color: #1e1e1e;
}

.popup.left::after {
    right: -20px;
    top: 20px;
    border-left-color: #1e1e1e;
}

.close-btn {
    background: #444;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    margin-left: 0.8rem;
}

pre {
    background: #0d1117;
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    overflow-x: auto;
}