@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --main-color: #ffffff;
    --hover-color: #ffffff;
    --text-color: #cccccc;
    --nav-color: #020202;
    --body-color: #0e0e0e;
    --side-nav: #242526;
    --nav-line: #ffffff;
    --content-title: #ffffff;
    --content-background: #000000bf;
    --footer-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    list-style: none;
    transition: all 300ms cubic-bezier(.08, .82, .17, 1);
    /* transition: all 250ms ease-in; */
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: #d2d2d2 #282828;
}

h1 {
    font-weight: 600;
    color: #ffffff;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

main {
    display: grid;
    position: relative;
    justify-items: center;
    place-content: center;
    min-height: 100vh;
}

body {
    color: var(--text-color);
    background-color: var(--body-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.norm-txt {
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 10px;
    /* larghezza della scrollbar */
}

::-webkit-scrollbar-track {
    background: #282828;
    /* colore sfondo */
}

::-webkit-scrollbar-thumb {
    background-color: #282828;
    /* colore del "pollice" */
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}